/* This is the template for the grid class to split it into 2 fractions */
.grid{ /* These are styles for the grid to make it split evenly in 2*/
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.more{ /*This is the MORE button and the styles for it*/
    padding: 10px 27px;
    border-radius: 10%;
    display: block;
    margin:auto;
}
/* These are the style for the entire page */
*{ /*These are styles for EVERYTHING*/
    line-height: 2rem;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    text-align: center;
    margin: 110px 0;
    text-shadow: 6px 6px 3.4px #6161618f;
    font-family: Arial, sans-serif;
}
p, input{display:inline;}
div{margin: 10px;}
body{ /*Styles for the body*/
    margin:0;
    background: rgb(236, 236, 236);
}
button{/*BUTTON STYLES*/
    background-color:rgb(172, 172, 172);
    color:white;
    border: none;
    font-size: 16px;
    transition: transform 0.5s;

}
button:hover{/*BUTTON hover*/
    background-color:rgb(145, 145, 145);
    transform: scale(1.1);
    transform-origin: center;
}
/* This is the navigation STYLES*/
.nav{ 
    z-index: 2;
    display: flex;
    justify-content: right;
    flex-direction: row;
    background: rgb(247, 91, 91);
    margin:0;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 98%; /*Full width*/
}
.no-decor{
    margin: auto 20px;
    list-style: none;
}

a{
    text-decoration:none;
    color: black;
}
a:hover{
    color: rgb(122, 122, 122);
}
h3{margin-right: auto;}

/*IMAGE STYLES*/
.flip:hover{
    transform: scaleX(-1);
}
.flip{
    transition: transform 2s; 
}

img{margin:auto;}


/*FOOTER*/
.footer{
    /* background-color:rgba(57, 61, 253, 0.13); */
    text-align: center;
    padding: 30px 0;
    margin-top: 82px;
}








body, html {
    height: 100%;
    margin: 0;
    
  }

  /*Pasted From W3SCHools*/
/* FULL PAGE TITLE */
.background {
    /* The image used */
    background-image: linear-gradient(rgb(250, 82, 82), rgb(236, 236, 236, 0.5) 90%);
    /* Full height */
    background-size:cover;
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    margin:0;
}

.title{
    text-align:center;
    margin:auto;
    position: absolute;
    width:100%;
    top: 47%;
    z-index: 1;
    font-size: 55px;
}

/* SET IMAGE SIZE */

.person{
    width: 182px;
    height:auto;
    border-radius: 20px;
}

.Namemeaning{
    display: inline;
    padding-bottom:0px;
}
audio{
    height:29px;
}
.audio{
    margin-left:149px;
}
.audio2{
    margin-left:161px;
}




/*Pasted from Stack Overflow*/

audio::-webkit-media-controls-play-button,
     audio::-webkit-media-controls-panel {
     background-color: rgb(236, 236, 236);
     color: rgb(236, 236, 236);
     }








/* This is code for SVG arrow. IT WAS FROM MY OLD CODE */


@keyframes bounce{
    0%{ transform: translateY(0); }
    25%{ transform: translateY(-5px);}
    50%{transform: translateY(8px);}
    75%{ transform: translateY(-8px); }
    100%{transform: translateY(0);}
    
}

.fill{animation: bounce 2s infinite;}
.arrow{
    text-align:center;
    margin:auto;
    position: absolute;
    width:100%;
    top: 60%;
    z-index: 1;
    font-size: 55px;
}